<!DOCTYPE html>

<html>
  <meta name="viewport" content="width=320">
  <head>
    <title>Sign Up</title>
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>

  </head>

  <body>
    <h2>Signup</h2>
    <form method="post">
      <table>

        <tr>
          <td class="label">
            Email
          </td>
          <td>
            <input type="text" name="email" value="{{email}}">
          </td>
          <td class="error">
            {{error_email}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
          <td class="error">
            {{error_password}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Skype
          </td>
          <td>
            <input type="text" name="skype" value="{{skype}}">
          </td>
          <td class="error">
            {{error_skype}}
          </td>
        </tr>
       



      </table>

      <input type="submit" Value="Sign Up">


    </form>

    <br>
    Have an Account?
    <br>
    If you already have a password, please
    <a href="signin">sign in.</a>
    

  </body>

</html>